<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="pokemonForm">
    <ion-list>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tipo 1:</ion-label>
        <ion-input formControlName="type1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tipo 2:</ion-label>
        <ion-input formControlName="type2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nivel:</ion-label>
        <ion-input type="number" min="1" max="100" formControlName="level"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Shiny:</ion-label>
        <ion-toggle formControlName="shiny"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-button *ngIf="isNew" [disabled]="!pokemonForm.valid" expand="block" color="success" ion-button
          type="submit" (click)="add()">Agregar
        </ion-button>
        <ion-button *ngIf="!isNew" [disabled]="!pokemonForm.valid" expand="block" color="warning" ion-button
          type="submit" (click)="update()">Actualizar</ion-button>
        <ion-button *ngIf="!isNew" expand="block" color="danger" ion-button type="submit" (click)="delete()">Borrar
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>